.base{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    margin: 0;
}
.container{
    width: 90rem;
    margin: 0 auto;
}
.formEstilo{
    width: 80rem;
    margin: 0 auto;
    background-color: hotpink;
}
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

.selects {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    margin: 0.4rem 1rem;
}
.selects select{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 5px;
    height: 30px;
    border-radius: 5px;
    max-width: 70vw;
    cursor: pointer;
}
.botaoPesquisa {
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    height: 40px;
    margin: 15px;
    border-radius: 7px;
    border-color: white;
    background-color: rgb(63, 81, 181);
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.botaoPesquisa:hover{
    background-color: rgb(65, 150, 65);
    
}
.entradas{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 100px;
    background-color: rgb(65, 150, 65);
}
.tableresult{
    width: 70rem;
    margin: 0 auto;
    
}
.tableresult th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    background: rgb(223, 223, 223);
    color: black;
}
.tableresult td{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-weight: bold;
    font-size: 0.8rem;
    background: rgb(249, 249, 249);
    color: black;
}
.waitresult{
    width: 50vw;
    margin: 0 auto;
    overflow:hidden;
}
.animacao {
    font-size: 1rem;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.link{
    display:inline;
    border-radius: 5px;
    background-color: rgb(63, 81, 181);
    color: white;
    text-decoration:none;
    font-size: 1rem;
    cursor: pointer;
}
.link:hover{
      background-color: rgb(65, 150, 65);
  }
  .footer{
      width: auto;
  }
 .filtroDiv{
    width: 50rem;
    margin: 0 auto;
    background-color: burlywood;
 }
 .botaoPesquisaDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .divCheckbox{
     display: inline;
 }